.App{
  background-color:#121212;
  color:rgb(255, 255, 255);
  height: 50%;
  width: 100%;
}
.App-header{
  background-color:#121212;
  color:rgb(255, 255, 255);
}
.btnBuy{
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 56px;
  background-color: #8bc34a!important;
}
.btnBuy:hover{
  background-color: #638d33!important; 
}
.btnPlayOrbSound{
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 56px;
  background-color: #b84d3f!important;  
}
.btnPlayOrbSound:hover{
  background-color: #d62b1b!important; 
}
.btnBirth{
  margin-bottom: 50px!important;
}
#orbBirthParent{
  width:100%!important;
}
canvas { width: 100vw!important; height: 40vh!important; display: block; }

#canvas_list{
  width: 30vw!important; height: 30vh!important; display: flex; border: 1px solid white;
}

.video_item{
  margin-top: 10%!important;
}